<div class="grid-container">
    <div class="grid-item item1">Blog Writing</div>
    <div class="grid-item item2">Academic Writing</div>
    <div class="grid-item item3">Technical Writing</div>
    <div class="grid-item item4">Creative Writing</div>
    <div class="grid-item item5">Copywriting</div>
</div>